.features {
  display: flex;
  align-items: center;
  padding: 2em 0 0 0;
  margin: 2em 0;
  width: 100%;
}

.featureSvg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.featureHeading {
  text-align: center;
  font-size: 40px;
font-weight: 400;
}

.services {
  display: flex;
  align-items: center;
  padding: 2em 0 0 0;
  margin: 2em 0;

}


.serviceHeadingBackground {
  background-color: #6b4423;
  padding: 10px 0 0px 0;
}

.serviceHeading {
  text-align: center;
  font-size: 28px;
font-weight: 400;
letter-spacing: -1.25px;
padding: 2px 0;
}

.featureBody {
  font-size: 20px;
  text-align: center;
  line-height: 150%;
  margin: 1em 0;
}

.serviceBody {
  font-size: 20px;
  text-align: center;
  line-height: 150%;
  padding: 0 0 1em 0;

}

/* src/App.css */
.servicesContainer {
  text-align: center;
  padding: 20px;
  border: 1px solid #dedede;
}

.servicesGrid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card {
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
}

.service-card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.service-card img {
  width: 100%;
  height: 200px;
}

.service-card h3 {
  margin: 10px 0;
}

.service-card p {
  color: grey;
  padding: 0 20px 20px;
}


.introCards {
  margin-top: 20px;

  padding: 10px 0;

}

.index-container {
  padding: 15px 40px;


}

.sdk-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 36px;
  margin: 20px 0;
}

.sdk-cards-content-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin: 20px 0;
}



.other-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 36px;
}

.introCard {


}

.introCard h3 {
  color: var(--ifm-color-primary-lightest);
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
}

.introCard img {
  border: none;
  max-width: 48px;
  max-height: 48px;
}

.introCard h3 a:hover {
  text-decoration: none;

}

.introCard a:hover {
  text-decoration: none;

}

.introCard p {
  font-size: 0.5rem;
  line-height: 1.4rem;
  color: #434e4e;
}