.features {
  display: flex;
  align-items: center;
  padding: 2em 0 0 0;
  margin: 2em 0;
  width: 100%;
}

.featureSvgBlock {

}

.featureSvg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.featureHeading {
  text-align: center;
  font-size: 40px;
font-weight: 400;
}

.services {
  display: flex;
  align-items: center;
  padding: 2em 0 0 0;
  margin: 2em 0;

}


.serviceHeadingBackground {
  background-color: #6b4423;
  padding: 10px 0 0px 0;
}

.serviceHeading {
  text-align: center;
  font-size: 28px;
font-weight: 400;
letter-spacing: -1.25px;
padding: 2px 0;
}

.featureBody {
  font-size: 20px;
  text-align: center;
  line-height: 150%;
  margin: 1em 0;
}

.serviceBody {
  font-size: 16px;
  text-align: center;
  line-height: 150%;
  padding: 0 0 1em 0;

}

/* styles.css */
.serviceCard {
  border: 1px solid #cecece;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex-basis: calc(33.333% - 20px);
  box-sizing: border-box;
}

/* Responsive layout with 3 cards per row */
@media (max-width: 768px) {
  .serviceCard {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .serviceCard {
    flex-basis: 100%;
  }
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
