.CTA-button {
  align-items: flex-start;
  background-image: url(../../../static/img/cta-button.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 80px;
  position: relative;
}

.CTA-button .READY-TO-TRANSFORM {
  align-self: stretch;
  color: var(--white);
  font-family: var(--heading-2-font-family);
  font-size: var(--heading-2-font-size);
  font-style: var(--heading-2-font-style);
  font-weight: var(--heading-2-font-weight);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  margin-top: -1.00px;
  position: relative;
}

.CTA-button .button-instance {
  flex: 0 0 auto !important;
}
