.footerSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0px 80px 56px;
  position: relative;
}

.footerSection .contents {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.footerSection .companyLogoText {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.footerSection .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
}

.footerSection .logoColor {
  height: 151.1px;
  object-fit: cover;
  position: relative;
  width: 300px;
}

.footerSection .text {
  align-items: center;
  border-color: var(--dark-green);
  border-left-style: solid;
  border-left-width: 2px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 0px 0px 32px;
  position: relative;
}

.footerSection .stayUpdatedWith {
  color: var(--dark-green);
  font-family: var(--heading-7-font-family);
  font-size: var(--heading-7-font-size);
  font-style: var(--heading-7-font-style);
  font-weight: var(--heading-7-font-weight);
  letter-spacing: var(--heading-7-letter-spacing);
  line-height: var(--heading-7-line-height);
  margin-top: -2.00px;
  opacity: 0.5;
  position: relative;
  width: fit-content;
}

.footerSection .newsletterEmail {
  align-items: center;
  background-color: var(--light-green);
  display: flex;
  flex: 0 0 auto;
  padding: 24px;
  position: relative;
  width: 737px;
}

.footerSection .contents2 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}

.footerSection .textWrapper {
  color: var(--dark-green);
  font-family: var(--heading-7-font-family);
  font-size: var(--heading-7-font-size);
  font-style: var(--heading-7-font-style);
  font-weight: var(--heading-7-font-weight);
  letter-spacing: var(--heading-7-letter-spacing);
  line-height: var(--heading-7-line-height);
  opacity: 0.75;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footerSection .arrowIcon {
  flex: 0 0 auto;
  position: relative;
}

.footerSection .menu {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 72px;
  position: relative;
}

.footerSection .div2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.footerSection .textWrapper2 {
  color: var(--dark-green);
  font-family: var(--heading-6-font-family);
  font-size: var(--heading-6-font-size);
  font-style: var(--heading-6-font-style);
  font-weight: var(--heading-6-font-weight);
  letter-spacing: var(--heading-6-letter-spacing);
  line-height: var(--heading-6-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footerSection .items {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.footerSection .textWrapper3 {
  color: var(--dark-green);
  font-family: var(--heading-7-font-family);
  font-size: var(--heading-7-font-size);
  font-style: var(--heading-7-font-style);
  font-weight: var(--heading-7-font-weight);
  letter-spacing: var(--heading-7-letter-spacing);
  line-height: var(--heading-7-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footerSection .textWrapper4 {
  color: var(--dark-green);
  font-family: var(--heading-7-font-family);
  font-size: var(--heading-7-font-size);
  font-style: var(--heading-7-font-style);
  font-weight: var(--heading-7-font-weight);
  letter-spacing: var(--heading-7-letter-spacing);
  line-height: var(--heading-7-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footerSection .copyright {
  align-items: flex-start;
  align-self: stretch;
  border-color: var(--dark-green);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 0 0 auto;
  gap: 656px;
  padding: 16px 0px 0px;
  position: relative;
  width: 100%;
}

.footerSection .p {
  color: var(--dark-green);
  font-family: var(--heading-7-font-family);
  font-size: var(--heading-7-font-size);
  font-style: var(--heading-7-font-style);
  font-weight: var(--heading-7-font-weight);
  letter-spacing: var(--heading-7-letter-spacing);
  line-height: var(--heading-7-line-height);
  margin-top: -1.00px;
  opacity: 0.75;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footerSection .privacyPolicyTerms {
  color: var(--dark-green);
  font-family: var(--heading-7-font-family);
  font-size: var(--heading-7-font-size);
  font-style: var(--heading-7-font-style);
  font-weight: var(--heading-7-font-weight);
  letter-spacing: var(--heading-7-letter-spacing);
  line-height: var(--heading-7-line-height);
  margin-top: -1.00px;
  opacity: 0.75;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}
