.features {
  display: flex;
  align-items: center;
  padding: 2em 0;
  margin: 3em 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureHeading {
  text-align: center;
  font-size: 40px;
font-weight: 400;
}

.featureBody {
  font-size: 22px;
  text-align: center;
  line-height: 150%;
  margin: 1em 0;
}
