.heroSection {
  align-items: center;
  background-color: #00000033;
  background-image: url(../../../static/img/hero-section.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .heroSection {
    padding: 20px 0;
  }
}

.hero-section .navigation {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0px 80px;
  position: relative;
  width: 100%;
}

.hero-section .company-logo-menu {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 356px;
  position: relative;
}

.hero-section .logo-white {
  height: 126.11px;
  object-fit: cover;
  position: relative;
  width: 300px;
}

.hero-section .navbar {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 48px;
  position: relative;
}

.hero-section .text-wrapper {
  color: var(--white);
  font-family: var(--heading-7-font-family);
  font-size: var(--heading-7-font-size);
  font-style: var(--heading-7-font-style);
  font-weight: var(--heading-7-font-weight);
  letter-spacing: var(--heading-7-letter-spacing);
  line-height: var(--heading-7-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.hero-section .img {
  flex: 0 0 auto;
  position: relative;
}

.hero-section .contents {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0px 80px;
  position: relative;
  width: 100%;
}

.hero-section .left-content {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 130px;
  position: relative;
}

.hero-section .text-buttons {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.hero-section .div {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.hero-section .title {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.hero-section .text-wrapper-2 {
  color: var(--white);
  font-family: var(--heading-1-font-family);
  font-size: var(--heading-1-font-size);
  font-style: var(--heading-1-font-style);
  font-weight: var(--heading-1-font-weight);
  letter-spacing: var(--heading-1-letter-spacing);
  line-height: var(--heading-1-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.hero-section .DREAM-GARDEN {
  color: transparent;
  font-family: var(--heading-1-bold-font-family);
  font-size: var(--heading-1-bold-font-size);
  font-style: var(--heading-1-bold-font-style);
  font-weight: var(--heading-1-bold-font-weight);
  letter-spacing: var(--heading-1-bold-letter-spacing);
  line-height: var(--heading-1-bold-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.hero-section .span {
  color: #e1ebe2;
  font-family: var(--heading-1-bold-font-family);
  font-size: var(--heading-1-bold-font-size);
  font-style: var(--heading-1-bold-font-style);
  font-weight: var(--heading-1-bold-font-weight);
  letter-spacing: var(--heading-1-bold-letter-spacing);
  line-height: var(--heading-1-bold-line-height);
}

.hero-section .text-wrapper-3 {
  color: #f9faf3;
  font-family: var(--heading-1-bold-font-family);
  font-size: var(--heading-1-bold-font-size);
  font-style: var(--heading-1-bold-font-style);
  font-weight: var(--heading-1-bold-font-weight);
  letter-spacing: var(--heading-1-bold-letter-spacing);
  line-height: var(--heading-1-bold-line-height);
}

.hero-section .crafting-dream {
  -webkit-text-stroke: 0.5px #ffffff;
  color: var(--white);
  font-family: var(--paragraph-font-family);
  font-size: var(--paragraph-font-size);
  font-style: var(--paragraph-font-style);
  font-weight: var(--paragraph-font-weight);
  letter-spacing: var(--paragraph-letter-spacing);
  line-height: var(--paragraph-line-height);
  margin-left: -0.50px;
  opacity: 0.75;
  position: relative;
  width: 761px;
}

.hero-section .buttons {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 22px;
  position: relative;
}

.hero-section .button-instance {
  flex: 0 0 auto !important;
}

.hero-section .design-component-instance-node {
  color: var(--white) !important;
}

.hero-section .button-2 {
  border-color: var(--white) !important;
  flex: 0 0 auto !important;
}

.hero-section .pages {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.hero-section .numbers {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 297px;
  position: relative;
}

.hero-section .text-wrapper-4 {
  color: var(--white);
  font-family: var(--heading-6-font-family);
  font-size: var(--heading-6-font-size);
  font-style: var(--heading-6-font-style);
  font-weight: var(--heading-6-font-weight);
  letter-spacing: var(--heading-6-letter-spacing);
  line-height: var(--heading-6-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.hero-section .text-wrapper-5 {
  color: var(--white);
  font-family: var(--heading-6-font-family);
  font-size: var(--heading-6-font-size);
  font-style: var(--heading-6-font-style);
  font-weight: var(--heading-6-font-weight);
  letter-spacing: var(--heading-6-letter-spacing);
  line-height: var(--heading-6-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.hero-section .bar {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.hero-section .line {
  background-color: var(--white);
  height: 4px;
  position: relative;
  width: 85px;
}

.hero-section .line-2 {
  background-color: var(--white);
  height: 4px;
  opacity: 0.5;
  position: relative;
  width: 250px;
}

.hero-section .right-content {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 240px;
  position: relative;
}

.hero-section .location-details {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(10px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border: 0px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.1)
    )
    1;
  border-radius: 20px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 16px 16px 24px 24px;
  position: relative;
}

.hero-section .text-wrapper-6 {
  color: var(--white);
  font-family: var(--heading-4-font-family);
  font-size: var(--heading-4-font-size);
  font-style: var(--heading-4-font-style);
  font-weight: var(--heading-4-font-weight);
  letter-spacing: var(--heading-4-letter-spacing);
  line-height: var(--heading-4-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.hero-section .p {
  color: var(--white);
  font-family: var(--heading-7-font-family);
  font-size: var(--heading-7-font-size);
  font-style: var(--heading-7-font-style);
  font-weight: var(--heading-7-font-weight);
  letter-spacing: var(--heading-7-letter-spacing);
  line-height: var(--heading-7-line-height);
  opacity: 0.75;
  position: relative;
  width: 363px;
}
