.features {
  display: flex;
  align-items: center;
  padding: 2em 0 10px 0;
  margin: 3em 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureHeading {
  text-align: center;
  font-size: 36px;
}

.featureBody {
  font-size: 20px;
  text-align: center;
}
