.crafting h1 {
  margin: 40px 0;
  color: #28665556;
  font-family: "Plus Jakarta Sans", serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 76px;

}

.crafting span {
  color: #286655;
}

.aboutTitle h2 {
  font-family: "Plus Jakarta Sans", serif;
  color: #286655;
  font-size: 28px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 1px;
}

.aboutTitle p {
  font-family: "Plus Jakarta Sans", serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 4px;
}