.height {

  height: 82px;
  background-color: white;
  
}

.links {
  vertical-align: bottom;
}


/* default styling */

ul {
  margin-top: 20px;
}

.navMenu li {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  margin-top: 30px;
}

.listAdustment {
  margin: 60px 0;
}


a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* navbar */
.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: right;
  gap: 40px;
  max-height: 70px;
}


/* logo  */
.logo {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}


/* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: right;
  gap: 60px;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin-top: 10px;

}

.contactButton {
  margin-top: -8px;
  vertical-align: top;
}

/* media queries */

@media screen and (max-width: 780px){

  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
    margin: 40px 20px;
  }

  .bar {
        background-color: #120f0b;
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

  /* adding active class to the bars  */
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }


  /* navMenu */

  .navMenu{
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 96px;
    left: -100%;
    text-align: start;
    width: 50%;
    transition: 0.5s ease-in-out;
    background-color: #F4F1DE;
    padding: 20px;
  }

  .navMenu.active{
    left: 0;
  }

  .navMenu li {
    margin: 16px 0;
  }
}

