.height {

  height: 82px;
  background-color: white;
  
}

/*
.links {
  vertical-align: bottom;
}
*/

/* default styling */

.alignBottom {
  margin-top: 30px;
}

ul {
  margin-top: 20px;
}

.navMenu li {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}



a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* navbar */
.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: right;
  gap: 40px;
  max-height: 70px;
}


/* logo  */
.logo {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.license {
  font-size: 13px;
  font-style: italic;
}


/* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  justify-items: right;
  gap: 60px;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin-top: 30px;

}

.contactButton {
  margin-top: -8px;
  vertical-align: top;
}

/* media queries */

@media screen and (max-width: 780px){

  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
    margin: 40px 0px;
  }

  .bar {
        background-color: #120f0b;
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

  /* adding active class to the bars  */
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }


  /* navMenu */

  .navMenu{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 99;
  }

  .navMenu.active{
    left: 0;
  }

  .navMenu li {
    margin: 20px;
  }
}

