.about-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 0px 80px;
  position: relative;
}

.about-section .contents {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 150px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.about-section .CRAFTING-DREAM {
  position: relative;
  width: 274.38px;
}

.about-section .texts {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 23px;
  position: relative;
}

.about-section .text-wrapper {
  color: var(--dark-green);
  font-family: var(--paragraph-font-family);
  font-size: var(--paragraph-font-size);
  font-style: var(--paragraph-font-style);
  font-weight: var(--paragraph-font-weight);
  letter-spacing: var(--paragraph-letter-spacing);
  line-height: var(--paragraph-line-height);
  margin-top: -1.00px;
  opacity: 0.5;
  position: relative;
  width: 411px;
}

.about-section .gallery {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.about-section .video {
  align-items: center;
  background-image: url(../../../static/img/video.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  height: 300px;
  justify-content: center;
  position: relative;
  width: 411px;
}

.about-section .play-button {
  align-items: center;
  background-color: var(--white);
  border-radius: 100px;
  display: flex;
  height: 80px;
  justify-content: center;
  position: relative;
  width: 80px;
}

.about-section .vector {
  height: 20.78px;
  position: relative;
  width: 18px;
}

.about-section .photo {
  align-items: flex-end;
  background-image: url(../../../static/img/photo.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  height: 300px;
  justify-content: flex-end;
  padding: 24px;
  position: relative;
  width: 845px;
}

.about-section .button-instance {
  border-color: var(--white) !important;
  flex: 0 0 auto !important;
}

.about-section .design-component-instance-node {
  color: var(--white) !important;
}
